<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submit</title>
   <link rel="stylsheet" href="form-input.css" >

</head>
<body>
    <!-- by default form has method type get so while calling form via app.post then we need to specify method -->
    <form action="/submit-data" method="post">
        <!-- to receive data we must specify the name, as it act as key in the received data object -->
        <input type="text" placeholder="Enter your name" name="name"> 
        <input type="email" placeholder="Enter email id" name="email">
        <input type="password" placeholder="Enter your password" name="password">
        <button >
            Submit Form
        </button>
        
    </form>
    
    
</body>


</style>
</html>